nav {
    position: fixed;
    bottom: 0;
    height: auto; 
    width: 100vw;
    border-top: 0.5px solid lightgrey;
    padding-top: 5px;
    box-shadow: 13px -1px  rgb(184, 181, 181);
  
    
    ul {   
        list-style: none;
        padding:0;
        margin-top: 5px;
        display: grid;
        grid-template-columns: repeat(5, auto); 
        grid-column-gap: 6px;

        a {
            text-decoration: none;
            font-size: 0.7rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items:center;
            color: grey;
        }
    }   
}

.nav__icon{
        display: block;
        height: 20px;
        width: 20px;
        padding: 5px;
        border-radius: 12px; 
        border: 1px solid white;
     &:hover{ 
            background: #E28F83;
            size: 12px;
     }
  }


  .nav__icon:hover +p { 
      color: #E28F83;

  }


