.titel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    font-size: .4em;
}

.titel h1 {
    letter-spacing: 5px;
    font-size: 16px;
}