#user-main {
    padding: 15px;
    h2 {
        font-size: 1.25rem;
    }
    h3 {
        font-size: 1rem;
    }
    p {
        font-size: 0.75rem;
    }
    #we-hope {
        margin: 20px 0;
        color: #A1A4B2;
    }
    overflow: hidden;
}

#user-profile { // ==================== User profile
    max-width: 100vw;
    padding: 30px 0;
    display: flex;
    align-items: center;
    img {
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
        padding-right: 20px;
        min-width: 15vw;
    }
    a {
        font-size: 0.75rem;
        margin-left: 5px;
    }
}

#user-favs-yoga, #user-favs-meditation {
    h2 {
        padding-bottom: 20px;
    }
    img {
        max-width: 35vw;
    }
}
#user-favs-yoga {
    padding: 40px 0;
}
#user-favs-yoga-cards, #user-favs-meditation-cards {
    display: flex;
    overflow-x: scroll;
}
.user-favs-yoga-card, .user-favs-meditation-card {
    padding-right: 20px;
}