.icon{
    display: flex;
                justify-content: center;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                background: #A1A4B2;
                cursor: pointer;
                img {
                    width: 50%;
                }
            }

            h2{
                display: flex;
                justify-content: center;
                padding-top:70px;
                font-size: 3em;
                color:#3F414E;
                font-weight: 900;

            } h3{
                display: flex;
                justify-content: center;
                padding-top:30px;
                font-size: 15px;
                color:#A1A4B2;
                
            } h4 {
                display: flex;
                justify-content: center;
                padding-top:20px;
                font-size: 15px;
                color:#A1A4B2;
            }
          
.iconsWrapper{
    display: flex;
    justify-content: space-around;
    margin-top: 1.5rem;
     figcaption{
        display: inline-block;
        margin-left: 1rem;
    }
    .iconHeart, .iconPhones{
        display: flex;
        height: 100%;
        align-items: center;
    }
}


























