

#music{
    .musicHeader{
        margin-bottom:3rem;
         .mainHeader{
                display: flex;
                justify-content: center;
                padding-top:70px;
                font-size: 3em;
                color:#3F414E;
                font-weight: 900;

            } .breatheHeader{
                display: flex;
                justify-content: center;
                padding-top:30px;
                font-size: 15px;
                color:#A1A4B2;
                
            } .playListHeader {
                display: flex;
                justify-content: center;
                padding-top:20px;
                font-size: 15px;
                color:#A1A4B2;
            }
        }
.iconsWrapper{
    display: flex;
    justify-content: space-around;
    margin-top: 1.5rem;
     figcaption{
        display: inline-block;
        margin-left: 1rem;
    }
    .iconHeart, .iconPhones{
        display: flex;
        height: 100%;
        align-items: center;
    }
}


.playList{

    width:90%;
    margin: 0 auto;
    .playListItems{
        display:flex;
        height:2.7rem;
        margin:1rem 0;
        padding-bottom:1.3rem;
        border-bottom: 1px solid rgba(173, 184, 217, 0.15);
        align-items:center;
        .musicContent{
            p:first-of-type{
                font-weight:800;
                font-size:1rem;
                margin-bottom:0.4rem;
                color:#3F414E;
            } p:last-of-type{

                color:#A1A4B2;
            }
        }
    }
    .playicon{
        display:flex;
        align-items:center;
        justify-content: center;
        height:40px;
        width:40px;
        border:1px solid #ADB8D9;
        border-radius:50%;
        margin-right:1rem;
    }
}

}




















