.track-yom {
    border-radius: 10px;
    padding: 0 15px;
    height: 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url('./maskGroup.png') center/cover no-repeat;
    .track-yom-info {
        display: flex;
        flex-direction: column;
        h2 {
            font-size: 1.5em;
            width: 200px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .track-yom-play {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        background: #8E9775;
        cursor: pointer;
        img {
            width: 30%;
        }
    }
}   