.content-log {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background: url('./union.png') no-repeat;
  background-position: center top;
  .text-log {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 80vh;
    text-align: center;
    p {
      margin-bottom: 25%;
      color: #A1A4B2;
    }
  }
}

.but-log {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  height: 20vh;
  bottom: 80px;
  width: 90%;
  a {
    width: 100%;
    button {
      margin-bottom: 30px;
    }
  }
  a {
    text-decoration: none;
    color: #A1A4B2;
    letter-spacing: 1px;
    font-size: 0.9rem;
    span {
      color: #E28F83;
    }
  }
}
