@font-face {
    font-family: 'sans-regular';
    src: url('../style/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf'); 
}
@font-face {
    font-family: 'sans-bold';
    src: url('../style/fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf'); 
}

* {
  font-family: 'sans-regular';
  padding: 0;
  margin: 0;
}

body {
  background: #fff;
}

main {
  margin: 50px 0;
}

h1, h2, h3, h4, h5 {
  font-family: 'sans-bold';
  color: #4A503D;
}

h2 {
  font-size: 1.5rem;
}

p {
  font-size: 0.75rem;
}