#home-main {
    padding: 15px;
    h2 {
        font-size: 1.25rem;
    }
    h3 {
        font-size: 1rem;
    }
    p {
        font-size: 0.75rem;
    }
    #we-hope {
        margin: 20px 0;
        color: #A1A4B2;
    }
    overflow: hidden;
}

#home-lessons { // ==================== Top lessons
    max-width: 100vw;
    display: flex;
    justify-content: space-between;
}
.home-lesson {
    width: 100%;
    min-height: 25vh;
    border-radius: 10px;
    background: center/cover no-repeat;
    padding: 0.75rem;
    display: grid;
    grid-template-rows: 0.6fr 0.75fr 0.75fr;
    align-items: end;
    span {
        font-size: 0.75rem;
        color: #FEFCF8;
    }
    a {
        text-decoration: none;
        padding: 7px 14px;
        border-radius: 25px;
    }
    .home-lesson-middle {
        grid-row: 2;
        h3 {
            padding-bottom: 5px;
        }
    }
    .home-lesson-bottom {
        grid-row: 3;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.home-lessonL {
    margin-right: 15px;
    h3, p {
        color: #FFECCC;
    }
    a {
        background-color: #FAF2DA;
        color: #4A503D;
    }
}
.home-lessonR {
    h3, p {
        color: #4A503D;
    }
    a {
        background-color: #4A503D;
        color: #FAF2DA;
    }
}

#home-recommended-yoga, #home-recommended-meditation { // ==================== Recommended yoga
    h2 {
        padding-bottom: 20px;
    }
    img {
        max-width: 35vw;
    }
}
#home-recommended-yoga {
    padding-bottom: 40px;
}
#home-recommended-yoga-cards, #home-recommended-meditation-cards {
    display: flex;
    overflow-x: scroll;
}
.home-recommended-yoga-card, .home-recommended-meditation-card {
    padding-right: 20px;
}