#yoga-details-top-section {
    img {
        width: 100px;
    }
}

.yogaDetail__main {
    padding: 0 15px;
    h1 {
        padding: 15px 0;
    }
}

.yogaDetail__flex_space {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    p {
        white-space: nowrap;
    }
}

.detail__flex {
    display: flex;
}

.yogaDetail__icon {
    padding-right: 5px;
}