.icon__flex{
    display: flex;
    align-items: baseline;
}

.yogaDetail__icon{
    margin-left: 5%;
        a{
        border-radius: 50%;
        border:1px solid white 0.6;
        padding: 10px;
        background: whitesmoke;
        opacity: .6;
        }

    img{
        height: 15px;
        width: 15px;
    }      
}

.yogaDetail__icon2{
    
    margin-left: 55%;
    a{
    border-radius: 50%;
    border: 1px solid #E28F83 0.6;
    padding: 10px;
    background: #E28F83;
    opacity: .6;
    margin-right: 15px;

    }
    img{
        height: 15px;
        width: 15px;
    }
}


.yogaDetail__main {
    margin-top: 30px;
    margin-left: 5%;
    margin-right: 5%;
    p{
        margin-top: 15px;
    }
}

.detail__flex{
    display: flex;
    margin-top: 30px;
    align-items: baseline;
    p{
        padding-left: 7px; 
        padding-right: 50px; 
        
    }
    
}

.yogaDetail__flex_space{
    display: flex;
   padding-left: 20px;
}