.icon__flex{
    display: flex;
    align-items: baseline;
}




.yogaDetail__main {
    margin-top: 30px;
    margin-left: 5%;
    margin-right: 5%;
    p{
        margin-top: 15px;
    }
}

.detail__flex{
    display: flex;
    margin-top: 30px;
    align-items: center;
    p{
        padding-left: 7px; 
        padding-right: 50px; 
        
    }
    
}

.yogaDetail__flex_space{
    display: flex;
   padding-left: 20px;
}