.content {
    padding: 15px;
}

.content-sign {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: calc(100vh - 30px);
    
    .back {
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        width: 50px;
        height: 50px;
        position: absolute;
        border: 1px solid #4A503D;
        border-radius: 50%;
    }
    h1 {
        position: absolute;
        top: 25%;
    }
    form {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    a {
        margin: 30px 0;
        text-decoration: none;
        color: #A1A4B2;
        letter-spacing: 1px;
        font-size: 0.9rem;
        span {
          color: #E28F83;
        }
      }
}
.google-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 63px;
    border-radius: 38px;
    width: 100%;
    border-width: 0;
    background: none;
    color: #737373;
    border: 1px solid #4A503D;
  }
  .google-button__icon {
    display: flex;
    width: 30px;
    height: 30px;
    svg {
        width: 100%;
        text-align: center;
        margin-right: 10px;
    }
  }
  .google-button__icon--plus {
    width: 27px;
  }