#search {
    width: 100%;
    display: flex;
    input {
    width: 100%;
    height: 28px;
    border: none;
    background-color: rgba(161, 164, 178, 0.2);
    border-radius: 10px;
    }
    img {
        position: absolute;
        align-self:center;
        right: 24px;
    }
}