
/* clock color */
.css-12ha4i7, .css-a1rc6s, .css-118whkv, .css-7lip4c  {
    background-color: #E28F83 !important;
}
.css-118whkv, .css-2ujp1m {
    border: 16px solid #E28F83 !important;
}



/* time top */

.css-j7qwjs {
    justify-content: center !important;
}

.css-1lz4u30 {
    display: none !important;
    /* align-items: center !important;
    justify-content: center !important;
    margin-right: 0 !important;
    margin-left: 0 !important; */
}

.css-4l7j15 {
    background: none !important;
}

.css-o9ifx3 {
    padding: 0 !important;
    align-items: center !important;
}

.PrivatePickersToolbar-root {
    width: 100%;
}

.css-171rwdv-MuiGrid-root {
    align-items: center !important;
    justify-content: center !important;
}

.css-1l4fxj8 {
    align-items: center !important;
}

.MuiButton-root { 
    width: 100px ;
}

.MuiIconButton-root {
    width: 20px;
}

.css-1hbyad5-MuiTypography-root {
    display: none !important;
}

.css-zylse7-MuiButtonBase-root-MuiIconButton-root {
    display: none !important;
}

.css-1lz4u30 {
    height: 100% !important;
}
