.content {
    background: #fff;
}

// welcome
.welcom-content {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('./welcome.jpg') no-repeat;
    background-position: center top;
}

.welcom-content h2 {
    font-family: 'sans-bold';
    font-size: 36px;
    margin-left: -100px;
    position: absolute;
    color: #fff;
    top: 10vh;
}

.but-but {
    position: absolute;
    bottom: 30px;
}

//reminders
.reminders {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.remindersText {
    width: 374px;
}

.remindersText h2{
    font-size: 24px;
}
.remindersText p {
    font-size: 16px;
    color: #A1A4B2;
}

.timePicker {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
